:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: blue;
  background-color: #fafafa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
  padding: 20px;
  gap: 1rem;
}

.list {
  list-style: none;
  padding: 0;
}

.divider {
  height: 2px;
  width: 100%;
  background-color: #333;
  border: none;
  margin: 2em 0;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 1em;
  /* grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); */
  width: 100%;
  /* max-width: 800px; */
  margin-top: 2em;
}

.gallery-item {
  /* background-color: #111; */
  border-radius: 12px;
  color: #747bff;
  border-color: #222;
}

.name {
  color: purple;
  font-size: 1.5rem;
  margin-top: 0;
}

.subtitle {
  color: darkgrey;
  font-size: 1.2em;
  opacity: 0.8;
}

.details-section {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
